<div class="sidemenu">
<%= render "common" %>
</div>

<div class="mainmenu">
<h1>Users</h1>
<% @users.each do |user| %>
<%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "default.png" %>
  <span>name</span> <%= user.name %>
  <%= link_to "Show", user_path(user) %>
  <br>
<% end %>
</div>