<h1>User info</h1>
<div class ="side">

<%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "default.jpg" %>
<br>
<span>name</span><%= @user.name %>
<br>
<span>intro</span><%= @user.introduction %>
<br>