<%= render "common" %>

<h1>Books</h1>
<% @books.each do |book| %>
  <%= attachment_image_tag book.user, :profile_image, size: "100x100", fallback: "default.png" %>
  <p>title</p>
  <span><%= link_to book.title, book_path(book) %></span>
  <p>opinion</p>
  <span><%= book.body %></span>
<% end %>
