<h1>Books detail</h1>
<span><%= @book.title %></span>
<span><%= @book.body %></span>

<% if @book.user_id == current_user.id %>
<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "destroy", book_path(@book), method: :delete %>
<% end %>